<div class="container">
  <h4>Um exemplo simples em Angular</h4>
  <div class="jumbotron text-center jumbotron-title">
    <h1>Sem as mãos!</h1>
    <p>Baseado n'Outro exemplo simples com AngularJS</p>
  </div>
  <app-grade></app-grade>
  <hr/>
  <div class="container">
    <p>&copy;2019, Giovanni Nunes</p>
    <p>Para maiores informações ou contato, acesse meu blog em
      <a href="http://giovannireisnunes.wordpress.com"
      target="_BLANK">giovannireisnunes.wordpress.com</a></p>
  </div>
</div>
